.markdown-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: #333;
  }
  
  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3,
  .markdown-body h4,
  .markdown-body h5,
  .markdown-body h6 {
    font-weight: bold;
    margin: 20px 0 10px;
    line-height: 1.2;
    scroll-margin-top: 96px;
  }
  
  .markdown-body h1 {
    font-size: 2.5em;
  }
  
  .markdown-body h2 {
    font-size: 2em;
  }
  
  .markdown-body h3 {
    font-size: 1.75em;
  }
  
  .markdown-body h4 {
    font-size: 1.5em;
  }
  
  .markdown-body h5 {
    font-size: 1.25em;
  }
  
  .markdown-body h6 {
    font-size: 1em;
  }
  
  .markdown-body p {
    margin: 15px 0;
  }
  
  .markdown-body a {
    color: #4e9fa6;
    text-decoration: none;
  }
  
  .markdown-body a:hover {
    text-decoration: underline;
  }
  
  .markdown-body ul,
  .markdown-body ol {
    padding-left: 40px;
    margin: 15px 0;
  }
  
  .markdown-body li {
    margin-bottom: 5px;
  }
  
  .markdown-body ul li {
    list-style-type: disc;
  }
  .markdown-body ul li::marker {
    color: #ec1d82;
  }
  
  .markdown-body blockquote {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    font-style: italic;
  }
  
  .markdown-body pre,
  .markdown-body code {
    font-family: "Courier New", Courier, monospace;
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 3px;
  }
  
  .markdown-body pre {
    overflow-x: auto;
    padding: 15px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
  }
  
  .markdown-body code {
    color: #d63384;
  }
  
  .markdown-body table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .markdown-body th,
  .markdown-body td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .markdown-body th {
    background-color: #f2f2f2;
  }
  